body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise toute la hauteur de la vue */
  }
  
  .form-container {
    width: 300px; /* Largeur du formulaire */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container input {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2962ff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0039cb; /* Couleur de fond au survol */
  }
  
  h1{
    text-align: center;
  }